<ng-container *ngIf="!isLoading()">
    <router-outlet></router-outlet>
</ng-container>
<ng-container *ngIf="isLoading()">
    <div id="idle" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Votre session expire bientôt</h4>
                    <button type="button" (click)="continuer()" class="close" data-dismiss="modal"
                        aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <p>
                        <i class="fa fa-warning font-red"></i> Votre session sera verrouillée dans
                        <span id="idle-timeout-counter">{{seconds - counts}}</span> secondes.
                    </p>
                    <p> Voulez-vous continuer votre session?</p>
                </div>
                <div class="modal-footer text-center">
                    <button (click)="continuer()" id="closeModal" type="button" class="btn btn-success"
                        data-dismiss="modal">Oui, continuez à travailler</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
    <div id="wrapper">
        <app-navbar></app-navbar>
        <app-menu></app-menu>
        <router-outlet></router-outlet>
    </div>
</ng-container>