<div id="main-content">
    <app-block-header [title]="'Client'" [currentPage]="'client'" (open)="handle('add', $event)"></app-block-header>
    <app-add-client [isAdd]="isAdd" (close)="handle('add', $event)"></app-add-client>
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12">
                <div class="card planned_task">
                    <div class="header">
                        <h2>Gestion Client</h2>
                    </div>
                    <div class="body">
                        <div class="table-responsive">
                            <app-list-client [events]="eventsSubject.asObservable()"></app-list-client>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>