<nz-drawer [nzMaskClosable]="false" [nzWidth]="'70%'" [nzVisible]="isAdd" nzTitle="Create"
    (nzOnClose)="handle('close', false)">
    <div class="container">
        <div class="row clearfix">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="form-group">
                    <label for="phone" class="control-label">Phone</label>
                    <input type="text" id="phone" class="form-control">
                    <span class="help-block">(999) 999-9999</span>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="form-group">
                    <label for="phone-ex" class="control-label">Phone + Ext</label>
                    <input type="text" id="phone-ex" class="form-control">
                    <span class="help-block">(999) 999-9999? x99999</span>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="form-group">
                    <label for="tax-id" class="control-label">Tax ID</label>
                    <input type="text" id="tax-id" class="form-control">
                    <span class="help-block">99-9999999</span>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="form-group">
                    <label for="ssn" class="control-label">SSN</label>
                    <input type="text" id="ssn" class="form-control">
                    <span class="help-block">999-99-9999</span>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="form-group">
                    <label for="product-key" class="control-label">Product Key</label>
                    <input type="text" id="product-key" class="form-control">
                    <span class="help-block">a*-999-a999</span>
                </div>
            </div>
        </div>
    </div>
</nz-drawer>