<div id="left-sidebar" class="sidebar">
    <div class="sidebar_list">
        <div class="tab-content" id="main-menu">
            <div class="tab-pane active" id="Home-icon">
                <nav class="sidebar-nav sidebar-scroll">
                    <ul class="metismenu">
                        <li routerLinkActive="active">
                            <a routerLink="dashboard">
                                <i class="fa fa-dashboard"></i>
                                <span>Dashboard</span>
                            </a>
                        </li>
                        <li routerLinkActive="active">
                            <a routerLink="gestion-rdv">
                                <i class="fa fa-calendar-check-o"></i>
                                <span>Gestion RDV</span>
                            </a>
                        </li>
                        <li class="header" *ngIf="isHasConfig === true">Configuration</li>
                        <li routerLinkActive="active" *ngIf="isHavePermission('ROLE_CANAL') === true">
                            <a routerLink="canal">
                                <i class="fa  fa-cogs"></i>
                                <span>Canal</span>
                            </a>
                        </li>
                        <li routerLinkActive="active" *ngIf="isHavePermission('ROLE_CLIENT') === true">
                            <a routerLink="client">
                                <i class="fa fa-address-card"></i>
                                <span>Client</span>
                            </a>
                        </li>
                        <li routerLinkActive="active" *ngIf="isHavePermission('ROLE_TYPE_RDV') === true">
                            <a routerLink="type-rdv">
                                <i class="fa fa-calendar"></i>
                                <span>Type RDV</span>
                            </a>
                        </li>
                        <li routerLinkActive="active" *ngIf="isHavePermission('ROLE_SECTEUR') === true">
                            <a routerLink="secteur">
                                <i class="fa fa-building"></i>
                                <span>Secteur</span>
                            </a>
                        </li>
                        <li routerLinkActive="active" *ngIf="isHavePermission('ROLE_USER') === true">
                            <a routerLink="utilisateur">
                                <i class="fa fa-users"></i>
                                <span>Utilisateur</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>