<div id="left-sidebar" class="sidebar">
    <div class="sidebar_list">
        <div class="tab-content" id="main-menu">
            <div class="tab-pane active" id="Home-icon">
                <nav class="sidebar-nav sidebar-scroll">
                    <ul class="metismenu">
                        <li routerLinkActive="active">
                            <a routerLink="gestion-rdv">
                                <i class="icon-speedometer"></i>
                                <span>Dashboard</span>
                            </a>
                        </li>
                        <li class="header" *ngIf="handle('isHaveRole', 'ROLE_ADMIN')">Configuration</li>
                        <li routerLinkActive="active" *ngIf="handle('isHaveRole', 'ROLE_ADMIN')">
                            <a routerLink="canal">
                                <i class="icon-bubbles"></i>
                                <span>Canal</span>
                            </a>
                        </li>
                        <li routerLinkActive="active" *ngIf="handle('isHaveRole', 'ROLE_ADMIN')">
                            <a routerLink="client">
                                <i class="icon-bubbles"></i>
                                <span>Client</span>
                            </a>
                        </li>
                        <li routerLinkActive="active" *ngIf="handle('isHaveRole', 'ROLE_ADMIN')">
                            <a routerLink="type-rdv">
                                <i class="icon-calendar"></i>
                                <span>Type RDV</span>
                            </a>
                        </li>
                        <li routerLinkActive="active" *ngIf="handle('isHaveRole', 'ROLE_ADMIN')">
                            <a routerLink="secteur">
                                <i class="icon-book-open"></i>
                                <span>Secteur</span>
                            </a>
                        </li>
                        <li routerLinkActive="active" *ngIf="handle('isHaveRole', 'ROLE_ADMIN')">
                            <a routerLink="utilisateur">
                                <i class="icon-check"></i>
                                <span>Utilisateur</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>