<nz-table #basicTable [nzData]="clients" nzSize="small" nzShowSizeChanger [nzFrontPagination]="false"
    [nzPageSize]="pagination.size" (nzQueryParams)="onQueryParamsChange($event)" [nzTotal]="totalElement"
    [nzLoading]="isLoading" nzSize="small" appAutoHeightTableDirective nzScroll="false" [nzBordered]="true">
    <thead>
        <tr>
            <th class="text-capitalize">Nom de contact</th>
            <th class="text-capitalize">Téléphone</th>
            <th class="text-capitalize">Addresse</th>
            <th class="text-capitalize">Chiffre d'affaire</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of basicTable.data">
            <td>{{ data.nomContact }}</td>
            <td>{{ data.telephone }}</td>
            <td>{{ data.adresse }}</td>
            <td>{{ data.chiffreAffaire }}</td>
        </tr>
    </tbody>
</nz-table>