<ng-container *ngIf="isUpdate">
    <app-update-client [client]="client" [isUpdate]="isUpdate" (close)="handle('isUpdate', $event)"></app-update-client>
</ng-container>
<app-search [placeholder]="'Recherche par nom de contact'" (data)="handle('search', $event)"></app-search>
<nz-table #basicTable [nzData]="clients" nzSize="small" nzShowSizeChanger [nzFrontPagination]="false"
    [nzPageSize]="size" (nzQueryParams)="onQueryParamsChange($event)" [nzTotal]="totalElement" [nzLoading]="isLoading"
    nzSize="small" appAutoHeightTableDirective nzScroll="false" [nzBordered]="true">
    <thead>
        <tr>
            <th class="text-capitalize">Nom de contact</th>
            <th class="text-capitalize">Téléphone</th>
            <th class="text-capitalize">Addresse</th>
            <th class="text-capitalize">Chiffre d'affaire</th>
            <ng-container *ngIf="isHaveOne">
                <th nzWidth="30px" nzRight></th>
            </ng-container>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of basicTable.data">
            <td>{{ data.nomContact }}</td>
            <td>{{ data.telephone }}</td>
            <td>{{ data.adresse }}</td>
            <td>{{ data.chiffreAffaire }}</td>
            <ng-container *ngIf="isHaveOne">
                <td nzWidth="30px" nzRight>
                    <div class="cursor" nz-dropdown [nzDropdownMenu]="menu" nzTrigger="click">
                        <i class="fa fa-bars"></i>
                    </div>
                    <nz-dropdown-menu #menu="nzDropdownMenu">
                        <ul nz-menu>
                            <ng-container *ngIf="isHavePermission('ROLE_CLIENT_UPDATE')">
                                <li nz-menu-item class="text-primary" (click)="handle('isUpdate', true, data)">
                                    <i class="fa fa-edit"></i> Modifier
                                </li>
                            </ng-container>
                            <ng-container *ngIf="isHavePermission('ROLE_CLIENT_DELETE')">
                                <li nz-menu-item class="text-danger" nz-popconfirm nzPopconfirmTitle="Êtes-vous sûr?"
                                    nzOkText="ok" nzCancelText="cancel" (nzOnConfirm)="handle('deleteClient', data)">
                                    <i class="fa fa-trash"></i> Supprimer
                                </li>
                            </ng-container>
                        </ul>
                    </nz-dropdown-menu>
                </td>
            </ng-container>
    </tbody>
</nz-table>